*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(circle at center, #1a1a2e 0%, #12121c 50%, #0a0a0f 100%);
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#1a1a2e);
}

#calculator-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
